.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.field {
  display: flex;
}

.display {
  height: 200px;
}

.display video {
  max-height: 100%;
}