.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.field {
  display: flex;
  align-items: center;
}

.display {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 200px;
  border: 1px solid black;
}

.display button {
  margin: 0;
  height: 20px;
}

.display video {
  max-height: 180px;
}
